<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.0" targetFramework="net45" />
  <package id="Moq" version="4.7.63" targetFramework="net45" />
  <package id="StyleCop.Analyzers" version="1.1.1-rc.94" targetFramework="net45" developmentDependency="true" />
  <package id="StyleCop.Analyzers.Unstable" version="1.1.1.94" targetFramework="net45" developmentDependency="true" />
</packages>